<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="{%-5p} [%d] &lt;%c&gt; : %m%n" />
		</layout>
	</appender>

	<appender name="logfile" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="ImmediateFlush" value="true" />
		<param name="File" value="../logs/adnroidpn.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="{%-5p} [%d] &lt;%c&gt; : %m%n" />
		</layout>
	</appender>

	<logger name="org.apache.commons.beanutils">
		<level value="INFO" />
	</logger>

	<logger name="org.apache.commons.digester">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="org.aspectj.weaver">
		<level value="INFO" />
	</logger>

	<logger name="org.directwebremoting">
		<level value="INFO" />
	</logger>
	
	<logger name="org.mortbay.log">
		<level value="INFO" />
	</logger>	

	<logger name="org.hibernate">
		<level value="INFO" />
	</logger>

	<logger name="org.dbunit">
		<level value="INFO" />
	</logger>

	<logger name="httpclient">
		<level value="INFO" />
	</logger>

	<root>
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
	</root>

</log4j:configuration>
